html{
	min-height:100%;
}

h2,h3{
	margin:0;
}
.tiedot{
	display:block;
	margin:0;
    margin-top:3em;
}

header{
    height:7em;
    background:black;
    color:white;
    position:relative;
}

header h1{
    margin: 0;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    float:left;
    margin-left:20%;
}


.dropdown-toggle{

background:black;
border:none;
}

.dropdown-toggle:hover{
background:white;
color:black;
border:none;
}

.dropdown-toggle:active{
background:#F5F5F5;
color:black;
border:none;
}

.btn-primary.active.focus, .btn-primary.active:focus, 
.btn-primary.active:hover, .btn-primary.focus:active, 
.btn-primary:active:focus, .btn-primary:active:hover, 
.open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open >
 .dropdown-toggle.btn-primary:hover{
background:#F5F5F5;
color:black;
border:none;
}

btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
    background:#F5F5F5;
color:black;
border:none;
}

.dropdown{
	margin: 0;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    float:left;
    margin-left:5%;
}

.content{
	margin:auto;
	width:80%;
	background:white; /* For browsers that do not support gradients */
   /* background: -webkit-linear-gradient(#ffffff, #DAECF7); 
    background: -o-linear-gradient(#ffffff, #DAECF7); 
    background: -moz-linear-gradient(#ffffff, #DAECF7);
    background: linear-gradient(#ffffff, #DAECF7); */
	padding: 5em 5em 5em 5em;
	border-radius:10em 3em 10em 3em;
	margin-bottom:3em;
    margin-top:3em;
    -webkit-box-shadow: 11px 14px 25px 2px rgba(0,0,0,0.54);
    -moz-box-shadow: 11px 14px 25px 2px rgba(0,0,0,0.54);
    box-shadow: 11px 14px 25px 2px rgba(0,0,0,0.54);
	
}
body{
	background:white;
	/*background: #43210a;
    background: -webkit-linear-gradient(#e99b63, #43210a); 
    background: -o-linear-gradient(#e99b63, #43210a); 
    background: -moz-linear-gradient(#e99b63, #43210a); 
    background: linear-gradient(#e99b63, #43210a); */
    
    height:100%;
}

img{
	
	width:100%;
	margin-bottom:1em;
}

figcaption{
    margin-bottom:2em;
}
a{
	color:blue;
}

#malli{
	width:100%;
	border:1px solid black;
	margin-bottom:5%;
	margin-top:5%;
}

table{
	border: solid black 1px;
    margin:auto;
}

table td{
	border: solid black 1px;
	border-spacing: 1px;
	padding:0.5em 1em 0.5em 1em;
}


table th{
	text-align:center;
}

.kuvaot5{
    width:50%;
    margin: 0 25% 0 25%;
}

.canvas{
    float:left;
}

.startNapit{
    float:left;
    margin-left:3em;
    margin-right:3em;
}

.radiot{
    float:left;
}